body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to bottom right, red, yellow);
  position: relative;
  min-height: 100vh;
}

span {
  border: 1px solid rgb(0, 0, 0);
  height: 1em;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 0 0;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 130px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}
.spancontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 450px;
  height: 40px;
}
.btn-container {
  width: 60em;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 1em;
}

button {
  margin: 20px 0;
  width: 200px;
  height: 45px;
  font-size: 20px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
}

button:hover {
  background: rgb(255, 255, 255);
  color: black;
}

button:active {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0 0 rgb(169, 203, 119);
  transform: translateY(4px, 4px);
}
h1 {
  font-size: 8em;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 0 0;
}
footer {
  display: flex;
  position: relative;
  width: 20em;
  height: 10em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 50% 20% / 10% 40%;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 1em;
  position: relative;
  width: 20em;
  height: 10em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  border-radius: 50% 20% / 10% 40%;
}
