.button {
    background-color: #555;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 4px;
    margin: 2px;
}

.button:hover {
    background-color: #666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
    background-color: #444;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}

.span-two {
    grid-column: span 2;
}

.span-three {
    grid-column: span 3;
}